#spinnerDiv {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
 }

.spinner {
    top: 30%;  
}

md-card{
       transition: background-color 1000ms linear;
}

.selected-task{
    background-color: grey;
}