#spinnerDiv {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
 }

.spinner {
    top: 30%;  
}

md-card{
       transition: background-color 1000ms linear;
}

.selected-task{
    background-color: grey;
}

a.md-default-theme:not(.md-button), a:not(.md-button) {
    color: white;
}
a.md-default-theme:not(.md-button):hover, a:not(.md-button):hover {
    color: white;
}

#menu.logged li.not-logged{
    opacity: 0; 
    max-height: 0;
    overflow: hidden;
}

#menu li.not-logged{
    opacity: 1;
    max-height: 200px;
}

#menu.logged li.logged{
    opacity: 1;
    max-height: 200px;
}

#menu li.logged{
     opacity: 0; 
     max-height: 0;
    overflow: hidden;
}

#menu li{
      transition: all 1.5s linear;
}