<h2>Zalogowano pomyślnie!</h2>
<br/>

<div ng-repeat="team in userTeams">
    <div team-summary></div>
</div>

<div>
    <a href="#/userTeams" class="btn btn-primary">Zarządzaj zespołami</a>
</div>
</br>
<div ng-hide="hasActiveWork">
    <button ng-click="startWork()" class="btn btn-success">Zacznij pracę</button>
</div>

<div ng-show="hasActiveWork">
    <button ng-click="stopWork()" class="btn btn-warning">Skończ pracę</button>
</div>

<h3 ng-show="hasActiveWork">
    Czas pracy: {{workedTime.hours}}:{{workedTime.minutes}}:{{workedTime.seconds}} 
</h3>

<button ng-click="logout()" class="btn btn-dangerous">Wyloguj</button>