<div class="container" style="width:666px;  padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">
	<a class="btn btn-success" href="#/createTeam" ng-show="premium">Utwórz zespoł</a>
	<p ng-show="!premium">Brak statusu premium</p>
	<br>
	<table class="table table-striped show-filter=" false ">
	    <tr ng-repeat="team in ownedTeams">
	   		<!--<td title=" 'Leader e-mail' " filter="{ userName: 'text'} " sortable=" 'userName' ">
	            {{user.leader.userName}}</td>-->
	        <td title=" 'Team name' " filter="{ name: 'text'} " sortable=" 'name' ">
	            {{team.name}}</td>
				<td><a href="#/team/{{team.id}}" class="btn btn-info">Członkowie</a></td>
				<td>|</td>
				<td><a href="#/team/{{team.id}}/tasks" class="btn btn-info">Zadania</a></td>
	       	<td><button class="btn btn-danger " ng-click="deleteTeam(team.id) ">Usuń</button></td>
	    </tr>
	</table>		
	<br>
    <a href="#/main ">Wróć</a>
</div>