<div class="content">
    <form class="pure-form pure-form-aligned">
        <h2>Zaloguj się</h2>
        <p>Zaloguj się, używając adresu e-mail oraz hasła, które zarejestrowałeś wcześniej w systemie.</p><br>

        <fieldset>
        <div class="pure-control-group">
            <label for="inputEmail">Adres e-mail</label>
            <input id="inputEmail" type="email" ng-model="userLoginEmail" placeholder="Twój adres e-mail" required autofocus>
        </div>

        <div class="pure-control-group">
            <label for="inputPassword">Hasło</label>
            <input id="inputPassword" type="password" ng-model="userLoginPassword" placeholder="Wpisz hasło (min. 6 znaków)" required>
        </div>

        <p><small ng-show= "(userLoginPassword == '') || (userLoginPassword.length <=5)">Podane hasło jest za krótkie (min. 6 znaków).</small></p>

        <div class="pure-g">
           <div class="pure-u-1-4"></div>
           <div class="pure-u-1-4">
                <button class="button-success pure-button" ng-hide="(userLoginPassword == '') || (userLoginPassword.length <=5)" ng-click="login()" ng-show="showRegisterBtn()">Zaloguj!</button>
           </div>
        </div>

    </form>
    <br>
    <a href="#/main">Wróć</a>
</div>
          