<div>
    <form class="form-signin">
        <h2 class="form-signin-heading">Logowanie</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" ng-model="userLoginEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" ng-model="userLoginPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" ng-click="login()">Login!</button>
    </form>
    <br>
    <a href="#/main">Wróć</a>
</div>