   	<div class="content">
   		<h2 class="content-subhead">Jesteś freelancerem?</h2>
   		Masz dość masywnych narzędzi do ewidencji swojego czasu pracy?

   		<h2 class="content-subhead">Jesteś menadżerem?</h2>
   		Chcesz zarządzać w łatwy sposób wieloma zespołami? <br></br>

   		<strong>Task system for freelancers (TSFF) </strong> to system, który umożliwi Ci rejestrowanie swojego czasu pracy w wielu projektach. TSFF to dynamiczne zarządzanie zespołami oraz prostota i dostępność. <br></br>Aplikacja jest dostępna zarówno w wersji desktopowej, jak i mobilnej.<br></br>

   		Sprawdź również możliwości, jakie daje Ci status Premium! <br></br>

   			<a href="#/login">Zaloguj się</a> lub <a href="#/register">zarejestruj</a>, aby zacząć pracę.
   		</p>
   	</div> 	