<div class="content">
	<h2 class="content-subhead">Wypróbuj <font color="#4CAF50">Premium</font> już dziś!</h2>
	Jeśli chcesz zarządzać projektami i umożliwić pracownikom łatwy sposób rejestracji pracy...<br><font color="#4CAF50">...pakiet Premium jest dla Ciebie!</font><br></br>
	Dodawaj i usuwaj zespoły oraz zarządzaj projektami. <br></br>
	<strong>Włącz Premium, aby wypróbować!</strong><br>
    <div>
        <button class="button-secondary pure-button" ng-click="setPremium(true)">Kup premium</button>
        <button class="button-secondary pure-button" ng-click="setPremium(false)">Usuń premium</button>
    </div>
    
    <br/>
    
    <div class="img-25">
        <a href="#/main"><img src="assets/MB__back.png" alt="Go back"></a>
    </div>
</div>